@theme {
    --font-display: 'Outfit', sans-serif;
}
@media (min-width: 640px) {
    .card_header{
        min-height: auto; /* sm:min-h-[auto] */
        height: 850px; /* sm:h-[850px] */
    }
}
Применив этот CSS, вы получите такой же эффек


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fade-in-up {
    animation: fadeInUp 0.4s ease-out forwards;
}
